<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.fxthomas.sshbeam"
    android:versionCode="1"
    android:versionName="0.1">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16"/>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:debuggable="true">

        <activity android:label="@string/app_name" android:name=".BeamActivity">
          <intent-filter>
            <action android:name="android.intent.action.SEND" />
            <category android:name="android.intent.category.DEFAULT" />
            <data android:mimeType="*/*" />
          </intent-filter>
        </activity>
    </application>
</manifest>
